<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>文件上传</title>
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript">
            function subimtBtn() {
                alert(1);
                var form = $("form[name=fileForm]");
                var options = {
                    url: '/upload',
                    type: 'post',
                    success: function(data) {
                        var jsondata = eval("(" + data + ")");
                        if (jsondata.error == "0") {
                            var url = jsondata.url;
                            alert(url)
                            $("#img").attr("src", url);
                        } else {
                            var message = jsondata.message;
                            alert(message);
                        }
                    }
                };
                form.ajaxSubmit(options);
                //$("#fileForm").submit();
            }

            $(document).ready(function() {
                $('img').attr("src", "/static/123.jpg");
            });
              
                  
       </script>
    </head>

    <body>
        <div class="modal-body">
            <form action='/upload/' enctype="multipart/form-data" method="post" id="fileForm" name="fileForm">
                <input type="file" name="filename" onchange="subimtBtn();">
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" onclick="subimtBtn();">提交</button>
        </div>

        <div>
            <img alt="img" src="" id="img">
        </div>
    </body>

    </html>
