body{
    padding:0px;
    margin:0px;
    background:#eaeaea;
}

input{
    resize:none;
    outline:none;
    color:inherit;
    font:inherit;
    margin:0;
    padding:5px 5px 3px 15px;
    border:solid 1px #ccc;
    height:25px;
}

.header{
    height:170px;
    width:100%;
    margin:0px;
    background:#fff;
}

.header-content{
    margin-left:auto;
    margin-right:auto;
    width:978px;
    position:relative;
}

#qdu-logo{
    margin-top:0px;
    float:left;
    max-height:110px;
    cursor:pointer;
}

.header-top{
    width:978px;
    height:38px;
    background:#333;
    margin:0 auto;
    z-index:100;
    position:relative;
}

.header-top .nav-top{
    padding-left:0px;
}

.header-top .nav-top li{
   float:left;
   margin-left:30px;
   margin-top:10px;
}

.header-top .nav-top li a{
    color:#fff;
    font-size:13px;
}

.header-top .search{
    color:#fff;
    float:right;
}

.header-top .search p{
    font-size:13px;
    color:#fff;
    float:right;
    margin-right:10px;
}

.header-top .search input{
    background:#aaa;
    border:0px;
    margin-top:9px;
    float:right;
    margin-right:10px;
}

.nav{
    float:right;
    margin-top:28px;
}
.nav .nav-list{
    padding-left:0px;
}
.nav .nav-list ul{
    position:absolute;
    width:140px;
}
.nav .nav-list > li{
    float:left;
    margin-left:30px;
    cursor:pointer;
}

.nav .nav-list > li:hover{
    color:#428bd1;
}

.nav-menu li{
    cursor:pointer;
}
.nav .nav-list > li > a{

    font-family:"KaiTi";
    font-size:24px;
    cursor:pointer;
}

.nav .nav-menu{
    margin-top:18px;
    float:right;
    display:block;
    position:relative;
}

.nav .nav-menu li{
   float:left;
   font-size:16px;
   color:#6c6c6c;
   border-left:1px solid #ccc;
   padding:0px 10px;
}

.nav-menu li.last{
    border-right:1px solid #ccc;
}

.nav-menu li.hv{
   color:#000000;
}
.nav-image{
    width:100%;
    height:320px;
    background:#eee;
    position:relative;
}
.nav-image .shadow{
    position:absolute;
    z-index:4;
    width:100%;
    height:320px;
    left:0px;
}
.nav-image .shadow .left{
    position:relative;
    z-index:4;
    width:50%;
    float:left;
    margin:0 0 0 -489px;
    height:320px;
    left:0px;
    background:#000;
    opacity:0.7;
}
.nav-image .shadow .center{
    position:relative;
    z-index:4;
    width:978;
    float:left;
    margin:0px auto;
    height:320px;
}


.nav-image .shadow .right{
    position:relative;
    z-index:4;
    width:50%;
    margin: 0 -489px 0 0 ;
    height:320px;
    left:0px;
    float:right;
    background:#000;
    opacity:0.7;
}




.nav-image .active{
    position:relative;
    width:978px;
    margin-left:auto;
    margin-right:auto;
}

/*main-content*/
.main-content{
    width:100%;
    margin:0 auto;
    background-color:#f0f0f0;
    height:100%;
    display:block;
    position:absolute;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
}

.main-content .center{
    
    width:978px;
    position:relative;
    margin:0 auto;
    height:100%;
}

.main-content .center .event-list{
    width:978px;
    height:330px;
    margin-top:20px;
}
.main-content .event-card{
    width:310px;
    position:relative;
    height:100%;
    background:#fff;
    float:left;
    border-top:4px solid #428bd1;
    box-shadow:0 3px 6px rgba(0,0,0,0.175);
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.event-card.fisrt{
    margin-left:0px;
}
.event-card.right{
    margin-left:24px;
}

.event-card .type{
    margin-top:5px;
    margin-left:14px;
    font-size:0.92em;
    color:#b5b5b5;
    text-align:left ;
    height:40px;
}
.event-card .type a.hv{
    color:#428bd1;
}

.event-card .type span{
    text-align:left;
    margin-left:10px;
}

.event-card .title{
    width:290px;
    margin:0px 13px 0 13px;
    color:293352;
}
.event-card .title.hv{
    text-decoration:underline;
}

.event-card .desc{
    margin-left:13px;
    margin-right:13px;
    padding-top:20px;
}
.event-card .time{
    position:absolute;
    margin-left:13px;
    margin-bottom:13px;
    bottom:0;
    font-size:12px;
    color:#b5b5b5;
}

/*event-card*/

/*sub-nav-iamge*/
.sub-nav-image{
    width:100%;
    height:220px;
    background:#000;
    opacity:0.75;
}


.sub-page-content{
    z-index:5;
    position:relative;
    width:978px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
}
.sub-page-content .title{
    font-size:38px;
    font-family:"KaiTi";
    color:#fff;
}

.sub-page-content >  .content{
    position:relative;
    width:978px;
    height:100%;
}
.sub-page-content > .content > .left{
    position:relative;
    width:233px;
    height:auto;
    float:left;
    background:#fff;
    margin-top:40px;
    border-top:5px solid #1363db;
}

.sub-page-content > .content > .left > ul{
   padding-left:35px;
}

.sub-page-content > .content > .left > ul > li{
    margin-top:15px;
}

.sub-page-content > .content > .left > ul > li >b{
    margin-top:15px;
    color:#6c6c6c;
}

.sub-page-content > .content > .left > ul > li{
}

.sub-page-content > .content > .left > ul > li .sub-tree{
   padding-left:20px;
   padding-top:5px;
}

.sub-page-content > .content > .left > ul > li .sub-tree li{
   padding-top:7px;
}

.sub-page-content > .content > .left > ul > li .sub-tree li:hover{
     color:#a61d31;
    text-decoration:underline;
}



.sub-page-content > .content > .left > ul > li b:hover{
    color:#a61d31;
    text-decoration:underline;
}

.sub-page-content > .content > .right{
    position:relative;
    width:718px;
    height:auto;
    float:left;
    background:#fff;
    margin-left:27px;
    margin-top:40px;
    border-top:5px solid #1363db;
}

.sub-page-content > .content > .only{
    position:relative;
    width:978px;
    height:auto;
    float:left;
    background:#fff;
    margin-left:0px;
    margin-top:40px;
    border-top:5px solid #1363db;
}



.sub-page-content > .content > .right  hr{
    margin-left:23px;
    margin-right:23px;
}

.sub-page-content > .content > .right > .content > .only-image{
    margin:20px auto 20px auto;
    display:block;
}


.sub-page-content > .content > .right > .content{
    margin:10px 23px 23px 23px;
}

.sub-page-content > .content > .right > .content .only-text{
    font-size:14px;
    line-height:1.5;
}

.sub-page-content > .content > .right > .content > .link_list{
    padding-left:0px;
}

.sub-page-content > .content > .right > .content > .link_list tr {
    margin-top:5px;
    height:auto;
    display:block;
    line-height:20px;
}


.sub-page-content  .content  .right  .content  .link_list tr:hover {
    color:#a61d31;
}

.sub-page-content  .content  .right  .content  .link_list tr:hover .link-title {
    color:#a61d31;
}

.sub-page-content > .content > .right > .content > .link_list tr .link-title{
    padding-left:0px;
    float:left;
    width:670px;
    color:#333;
}



.sub-page-content > .content > .right > .title{
    color:#333;
}

.sub-page-content > .content > .right > .title h4{
    margin-top:20px;
    margin-left:23px;
    margin-bottom:10px;
    font-size:30px;
}

.pop-window .add-content {
    margin:0px 20px;
}

.pop-window .add-content h2{
    margin-bottom:5px;
    font-family:"Microsoft YaHei" "Hiragino Sans GB" "Arial" "黑体";
    color:#333;
}
.pop-window > div{
}
.pop-window .add-content .title{
    float:left;
    width:90px;
    font-family:"Microsoft YaHei" "Hiragino Sans GB" "Arial" "黑体";
}

.pop-window .add-content .show{
    font-family:"Microsoft YaHei" "Hiragino Sans GB" "Arial" "黑体";
}


.pop-window .add-content .edit{
}

.pop-window .add-content .content > div{
    color:#333;
    height:35px;
}
.pop-window .add-content .edit input{
    width:200px
}

.pop-window .add-content .button-block{
    margin:20px 0px;
}

.input-block .title{
    float:left;
    width:90px;
    font-family:"Microsoft YaHei" "Hiragino Sans GB" "Arial" "黑体";
    color:#333;
    font-size:18px;
}

.input-block .show{
font-family:"Microsoft YaHei" "Hiragino Sans GB" "Arial" "黑体";
}


.input-block .edit{
}

.input-block{
color:#333;
height:35px;
}
.input-block .edit input{
width:200px
}
textarea.content{
    width:550px;
    height:25px;
}


