<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/plugin.css">
    <link rel="stylesheet" href="theme/theme_hope/theme_hope.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="js/morris/morris.css">
    <script src="js/lib/modernizr-2.7.1.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <nav class="menu-global">
            <ul>
            </ul>
        </nav>
        <hr />
        <nav class="menu-func">
            <div class="header-tip">
            </div>
            <ul>
            </ul>
        </nav>
    </header>
    <section id="main-body" class="m-teacher">
        <div class="x-scroll-wrap">
            <section id="main-page-user-info" class="main-page">
                <form id="user-info-form" class="info-set">
                    <h2>
                        个人信息
                    </h2>
                    <hr />
                    <div class="">
                        <article class="info-item">
                            <div class="title">
                                职工编号:
                            </div>
                            <div class="body">
                                <div class="onshow" id="job-number">
                                </div>
                                <div class="onedit">
                                    <input id="input-job-number" />
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                姓名:
                            </div>
                            <div class="body">
                                <div class="onshow" id="name">
                                </div>
                                <div class="onedit">
                                    <input id="input-name" />
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                昵称:
                            </div>
                            <div class="body show">
                                <div class="onshow" id="username">
                                </div>
                                <div class="onedit">
                                    <input id="input-username" />
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                邮箱:
                            </div>
                            <div class="body">
                                <div class="onshow" id="email">
                                </div>
                                <div class="onedit">
                                    <input id="input-email" />
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                性别:
                            </div>
                            <div class="body">
                                <div class="onshow" id="sex">
                                </div>
                                <div class="onedit">
                                    <select id="input-sex">
                                        <option value="1">
                                            先生
                                        </option>
                                        <option value="0">
                                            女士
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                职称:
                            </div>
                            <div class="body">
                                <div class="onshow" id="job-title">
                                </div>
                                <div class="onedit">
                                    <select id="input-job-title">
                                        <option>
                                            教授
                                        </option>
                                        <option>
                                            副教授
                                        </option>
                                        <option>
                                            讲师
                                        </option>
                                        <option>
                                            高级实验师
                                        </option>
                                        <option>
                                            实验师
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                联系电话:
                            </div>
                            <div class="body">
                                <div class="onshow" id="telphone">
                                    1555555555
                                </div>
                                <div class="onedit">
                                    <input id="input-telphone" />
                                </div>
                            </div>
                        </article>
                        <hr/>
                        <div id="modify-password-button" class="button cmd_link" cmd="modify-password">
                            修改密码
                        </div>
                        <div class="button cmd_link" cmd="send-user-info">
                            保存修改
                        </div>
                    </div>
                </form>
            </section>
            <section class="main-page" id="main-page-t-exp-snap-correct-list">
                <h2>
                    批改实验报告
                </h2>
                <hr/>
                <ur class="info-list" id="student-list">
                </ur>
            </section>

            <section class="main-page" id="main-page-t-exp-snap-correct">
                <h2>
                    批改实验报告
                </h2>
                <div id="suspend-item" class="notification information">
                    <div class="notification attention">
                        需要手动点击判题的区域
                    </div>
                    <div style="" class="notification error">
                        答案错误的区域
                    </div>
                    <input class="input-attention" value="手动输入分数的区域" />
                    <div class="button cmd_link" cmd="hide-auto">
                        隐藏自动判题区域
                    </div>
                </div>
                <hr/>
                <div id="question-list">
                </div>
                <div>
                    总得分:
                    <input id="all-score"></input>
                </div>
                <div class="button cmd_link" cmd="pre-student" id="pre-student">
                    上一个学生
                </div>
                <div class="button cmd_link" cmd="next-student" id="next-student">
                    下一个学生
                </div>
            </section>

            <section class="main-page" id="main-page-t-report-correct-show">
                <h2>
                    批改实验报告
                </h2>
                <hr/>
                <div id="question-list">
                </div>
                <div>
                    总得分:
                    <input id="all-score"></input>
                </div>
            </section>

            <section id="main-page-t-exp-list" class="main-page">
                <h2>
                    实验列表
                </h2>
                <hr />
                <ul class="info-list" id="exp-list">
                </ul>
            </section>
            <section id="main-page-t-exp-snap-list" class="main-page">
                <h2>
                    实验集列表
                </h2>
                <hr />
                <ur class="info-list" id="snap-list">
                </ur>
            </section>

            <section id="main-page-t-exp-report" class="main-page">
                <h2>
                    实验报告
                </h2>
                <hr />
                <ur class="info-list" id="exp-report-list">
                </ur>
            </section>
            <section id="main-page-t-report-show" class="main-page">
                <h2></h2>
                <hr/>
                <ul class="info-list" id="report-info">

                </ul>
                <div class="title large">
                    题目列表:
                </div>
                <hr/>
                <ul class="" id="question-list">


                </ul>
            </section>
            <section id="main-page-t-report-modify" class="main-page">
                <h2></h2>
                <hr/>
                <ul class="info-list" id="report-info">
                    <div>
                        实验要求:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <textarea id="report-require"></textarea>
                        </div>
                    </div>
                </ul>
                <div class="title large">
                    题目列表:
                </div>
                <hr/>
                <ul class="info-list" id="question-list">


                </ul>
                <hr>
                <div class="button" id="modify-report-add-question">
                    添加题目
                </div>
                <div class="button cmd_link" cmd="send-report-modify-button">
                    保存修改
                </div>
            </section>

            <section id="main-page-t-exp-snap-show" class="main-page">
                <h2>snap-show</h2>
                <hr />
                <article class="info-item">
                    <h3>
                        开始时间:
                    </h3>
                    <div class="body">
                        <div class="onshow text" id="start-time">
                        </div>
                        <div class="onedit" >
                            <input id = "input-start-time" type="datetime-local"/>
                        </div>
                    </div>
                </article>


                <article class="info-item">
                    <h3 class="title">
                        结束时间:
                    </h3>
                    <div class="body">
                        <div class="onshow text" id="end-time">
                        </div>
                        <div class="onedit">
                            <input id="input-end-time" type="datetime-local"/>
                        </div>
                    </div>
                </article>


                <article class="info-item">
                    <h3 class="title">
                        创建时间:
                    </h3>
                    <div class="body">
                        <div class="onshow text" id="created-time">
                        </div>
                        <div class="onedit">
                            <input />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <h3 class="title">
                        状态:
                    </h3>
                    <div class="body">
                        <div class="onshow text" id="status">
                        </div>
                        <div class="onedit">
                            <input />
                        </div>
                    </div>
                </article>

                <article class="info-item">
                    <h3 class="title">
                        实验报告名称:
                    </h3>
                    <div class="body">
                        <div class="onshow text" id="paper-id">
                        </div>
                        <div class="onedit">
                            <input />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <h3 class="title">
                        学生学号列表
                    </h3>
                </article>
                <hr/>
                <ul class="info-list" id="student-list">
                </ul>
                <hr/>
                <div class="button" id="start-update-content"> 修改内容</div>
                <div class="button" id="add-student-to-snap"> 添加学生</div>
                <div class="button" id="send-snap-content">保存修改</div>
            </section>


            <section id="main-page-t-snap-create" class="main-page">
                <h2>
                    开始一次实验
                </h2>
                <hr/>

                <article class="info-item">
                    <div class="title">
                        标题:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="snap-title" />
                        </div>
                    </div>
                </article>

                <article class="info-item">
                    <div class="title">
                        开始时间:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="start-time" type="datetime-local" />
                        </div>
                    </div>
                </article>

                <article class="info-item">
                    <div class="title">
                        结束时间:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input type="datetime-local" id="end-time" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        选择实验报告:
                    </div>
                    <select id="paper-list">
                        <option>test</option>
                    </select>
                </article>

                <article class="info-list">
                    <div class="title">
                        参与本次实验的学生:
                    </div>
                    <hr/>
                    <ur id="student-list">

                    </ur>
                    <hr/>
                </article>

                <div class="button" id="add-student">添加学生</div>
                <div class="cmd_link button" cmd="send-new-snap">
                    创建
                </div>
            </section>
            <section id="main-page-t-report-create" class="main-page">
                <h2>
                    创建实验报告
                </h2>
                <hr />
                <article class="info-item">
                    <div class="title">
                        报告名称:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="report-title-input-create" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        实验要求:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <textarea id="report-require-input-create"></textarea>
                        </div>
                    </div>
                </article>
                <div class="title">
                    问题列表:
                </div>
                <hr/>
                <div class="body">
                    <div class="onshow">
                        <ul class="info-list" id="question-list">
                        </ul>
                    </div>
                </div>
                <hr/>

                <div id="create-report-add-question" class="button">添加题目</div>

                <div cmd="send-report-button" class="cmd_link button">提交</div>
            </section>
            <section id="main-page-t-stu-create" class="main-page">
                <h2>添加学生</h2>
                <hr/>
                <article class="info-item">
                    <div class="title">
                        学号:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="input-student-id" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        姓名:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="input-student-name" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        年级:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="input-grade" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        班级:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <input id="input-class" />
                        </div>
                    </div>
                </article>
                <article class="info-item">
                    <div class="title">
                        专业:
                    </div>
                    <div class="body edit">
                        <div class="onedit">
                            <select id="major-list">
                            </select>
                            <div id="add-new-major" class=" button">添加一个新专业</div>
                        </div>
                    </div>
                </article>
                <div class="button cmd_link" cmd="send-new-student">
                    添加
                </div>
            </section>
            <section id="main-page-t-stu-info" class="main-page">
                <h2>
                    学生信息
                </h2>
                <div id="suspend-item" class="notification information">
                    <div>
                        专业:
                        <select id="major-list" class="">
                        </select>
                    </div>
                    <div>
                        年纪:
                        <select id="grade-list" style="" class="">
                        </select>
                    </div>
                    <div>
                        班级:
                        <select id="class-list" class="">
                        </select>
                    </div>
                    <div class="button cmd_link" cmd="get-stu-info-list" style="text-align:center;width:157px;">
                        查找学生
                    </div>
                </div>
                <hr/>
                <ul class="info-list" id="stu-list">
                </ul>

            </section>
            <section id="main-page-t-exp-create" class="main-page">
                <h2>
                    创建实验
                </h2>
                <hr />
                <div id="exp-create-form" class="info-set">
                    <div class="long-line-info-set">
                        <article class="info-item">
                            <div class="title">
                                实验名称:
                            </div>
                            <div class="body edit">
                                <div class="onedit">
                                    <input id="exp-title-input-create" />
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                实验类目:
                            </div>
                            <div class="body edit">
                                <div class="onedit">
                                    <select id="exp-type-input-create">
                                        <option>
                                            电子电工
                                        </option>
                                        <option>
                                            电机控制
                                        </option>
                                        <option>
                                            是不是这样子
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div class="title">
                                实验说明:
                            </div>
                            <div class="body edit">
                                <div class="onshow">
                                    Albert
                                </div>
                                <div class="onedit">
                                    <textarea id="exp-desc-input-create"></textarea>
                                </div>
                            </div>
                        </article>
                        <article class="info-item">
                            <div cmd="create-exp-button" class="cmd_link button">提交</div>
                        </article>
                    </div>
                </div>
            </section>
            <section id="main-page-hello" class="main-page">
                你好
            </section>
            <section class="main-page">
            </section>

        </div>
    </section>

    <div class="pop-add-major pop-window">
        <h3>新专业名称:</h3>
        <input id="major-name" />
        <div class="button cmd_link" cmd="send-new-major">
            添加
        </div>
    </div>
    <div class="pop-add-stu-to-snap pop-window">
        <div class="top-nav">
            <a>添加学生</a>
            <span add_type="student-number" class="student-label ">
                学号
            </span>
            <span add_type="student-class" class="student-label active">
                班级
            </span>

        </div>
        <hr/>
        <section class="block-student-class">
            <div>
                <div class="title ">
                    专业:
                </div>
                <select id="major-list">
                </select>
            </div>
            <div>
                <div class="title">
                    年级:
                </div>
                <select id="grade-list">
                </select>
            </div>

            <div>
                <div class="title">
                    班级:
                </div>
                <select id="class-list">
                </select>
            </div>
            <div class="button cmd_link" cmd="get-student-list">
                提交
            </div>
        </section>
        <section class="block-student-number">
            <div class="notification error" style="padding-left:10px;width:341px;display:none">
                这个学号不存在
            </div>
            <div>
                <div class="title ">
                    学号:
                </div>
                <input id="student-number">
                </input>
            </div>
            <div class="button cmd_link" cmd="get-student-of-add-snap">
                提交
            </div>
        </section>

    </div>
    <div class="pop-window modify-password-block">
        <div class="top-nav">
            <a>修改密码</a>
        </div>
        <hr/>
        <div class="notification error" style="display:none">
            密码不相同
        </div>
        <article class="info-item">
            <div class="title">
                密码:
            </div>
            <div class="body edit">
                <div class="onedit" id="password">
                    <input type="password" id="input-password" />
                </div>
            </div>
        </article>
        <article class="info-item">
            <div class="title">
                确认密码:
            </div>
            <div class="body edit">
                <div class="onedit" id="confirm-password">
                    <input type="password" id="input-confirm-password" />
                </div>
            </div>
        </article>
        <hr/>
        <div class="button cmd_link" cmd="modify-password">提交新密码</div>
    </div>
    <div class="pop-window pop-student-info">
        <div class="top-nav">
            <a>学生信息</a>
        </div>
        <hr/>
        <article class="info-item">
            <div class="title">
                学号:
            </div>
            <div class="body show">
                <div class="onshow" id="number">
                </div>
            </div>
        </article>

        <article class="info-item">
            <div class="title">
                姓名:
            </div>
            <div class="body show">
                <div class="onshow" id="name">
                </div>
            </div>
        </article>
        <article class="info-item">
            <div class="title">
                专业:
            </div>
            <div class="body show">
                <div class="onshow" id="major">
                </div>
            </div>
        </article>

        <article class="info-item">
            <div class="title">
                年级:
            </div>
            <div class="body show">
                <div class="onshow" id="grade">
                </div>
            </div>
        </article>

        <article class="info-item">
            <div class="title">
                班级:
            </div>
            <div class="body show">
                <div class="onshow" id="class">
                </div>
            </div>
        </article>

        <article class="info-item">
            <div class="title">
                昵称:
            </div>
            <div class="body show">
                <div class="onshow" id="username">
                </div>
            </div>
        </article>
        </div>
    <div class="pop-add-sub-question-menu pop-window">
        <button class="cmd_link" cmd="add-sub-select-question">
            <button>
                <button class="cmd_link" cmd="add-sub-fill-question"></button>
                <button class="cmd_link" cmd="add-sub-ques-answer-question"></button>
                <button class="cmd_link" cmd="add-sub-table-question"></button>

                <div>
                    <div class="pop-add-question pop-window">
                        <div class="top-nav">
                            <a>题目类型</a>
                            <span questiontype="muti" class="add-question-type-button">
                                综合题
                            </span>

                            <span questiontype="table" class="add-question-type-button">
                                表格题
                            </span>

                            <span questiontype="ques-answer" class="add-question-type-button">
                                问答题
                            </span>
                            <span questiontype="fill" class="add-question-type-button">
                                填空题
                            </span>
                            <span questiontype="select" class="add-question-type-button active">
                                选择题
                            </span>
                        </div>
                        <hr/>
                        <section class="add-select-question page-add-question">
                            <div></div>
                            <article class="info-item">
                                <div class="title">
                                    题目描述:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-title-input-select" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="image-block" class="image-show image-q">
                                    <img />
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    题目类型:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <select id="question-type-input-select">
                                            <option>
                                                单选题
                                            </option>
                                            <option>
                                                多选题
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    选项A:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-a" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div id="image-block" class="image-show image-a">
                                    <img />
                                </div>

                            </article>
                            <article class="info-item">
                                <div class="title">
                                    选项B:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-b" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="image-block" class="image-show image-b">
                                    <img />
                                </div>


                            </article>
                            <article class="info-item">
                                <div class="title">
                                    选项C:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-c" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="image-block" class="image-c image-show">
                                    <img />
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    选项D:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-d" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div id="image-block" class="image-show image-d">
                                    <img />
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    正确答案:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-answer" />
                                    </div>
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    分数:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-select-score" />
                                    </div>
                                </div>
                            </article>


                            <div class="cmd_link button" cmd="send-select-question-button">提交</div>
                        </section>
                        <section class="add-fill-question page-add-question">
                            <div class="notification information">
                                <div>
                                    请用四个下划线代表填空处
                                </div>
                            </div>
                            <article class="info-item">
                                <div class="title">
                                    题目描述:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-fill-title" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="answer-block"></div>
                                <div id="image-block" class="image-show">
                                    <img />
                                </div>
                            </article>
                            <div cmd="send-fill-question-button" class="button cmd_link">提交</div>

                        </section>
                          <section class="add-table-question page-add-question">
                        <article class="info-item">
                            <div class="title">
                                题目描述:
                            </div>
                            <div class="body edit">
                                <div class="onedit">
                                    <input id="question-table-input-title" />
                                    <div class="add-resource active" >添加资源
                                        <ul class="suspend">
                                            <li class = "upload_image"><a>添加图片</a></li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id ="image-block" class="image-show image-muti">
                                <img />
                            </div>

                        </article>

                        <article class="info-item" id= "article-row-number">
                            <div class="title">
                                 行数:
                            </div>
                            <div class="body edit">
                                <div class="onedit">
                                    <input id="input-row-number"/>
                                </div>
                            </div>
                        </article>
                        <article class="info-item" id="article-col-number">
                            <div class="title">
                                列数:
                            </div>
                            <div class="body edit">
                                <div class="onedit">
                                    <input id ="input-col-number"/>
                                </div>
                            </div>
                        </article>
                        <div id = "table-block">


                        </div>
                        <div id="image-block" class="image-show">
                            <img />
                        </div>
                        <hr/>
                        <div id ="button-create-table"class="button cmd_link" cmd="create-table-to-table-question">
                            创建表格
                        </div>
                        <div id="button-remove-table"class="button cmd_link" cmd="remove-table-from-table-question" style="display:none">
                            删除表格
                        </div>
                        <div id= "button-create-line" class = "button cmd_link"cmd = "create-line" style="display:none">
                            创建曲线图
                        </div>
                        <div id="button-send-question" class="button cmd_link" cmd="send-new-table-question" style="display:none">
                            提交问题
                        </div>
                    </section>
                        <section class="add-muti-question page-add-question">
                            <article class="info-item">
                                <div class="title">
                                    题目描述:
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-muti-input-title" />
                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="image-block" class="image-show image-muti">
                                    <img />
                                </div>

                            </article>
                            <article class="info-item">
                                <div>
                                    子问题列表:
                                </div>
                            </article>
                            <hr/>
                            <div>
                                <ul id="create-muti-question-list">

                                </ul>
                            </div>
                            <hr/>
                            <div cmd="" id="add-sub-question-button" class="title-button active">
                                添加子问题
                                <ul id="sub-question-type-menu" style="display:none">
                                    <li name="select">选择题</li>
                                    <li name="fill">填空题</li>
                                    <li name="ques-answer">问答题</li>
                                    <li name="table">表格题</li>
                                    <li name="muti">综合题</li>
                                </ul>
                            </div>
                            <hr/>
                            <div cmd="send-muti-question-button" class="cmd_link button">
                                提交
                            </div>
                        </section>
                        <section class="add-ques-answer-question page-add-question">

                            <article class="info-item">
                                <div class="title">
                                    题目描述
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-ques-answer-title" />

                                        <div class="add-resource active">添加资源
                                            <ul class="suspend">
                                                <li class="upload_image">
                                                    <a>添加图片</a>
                                                </li>
                                            <!--li  class="add-resource-table"  ><a>添加表格</a></li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="answer-block"></div>
                                <div id="image-block" class="image-show">
                                    <img />
                                </div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    参考答案
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-ques-answer-answer" />
                                    </div>
                                </div>
                                <div id="answer-block"></div>
                            </article>
                            <article class="info-item">
                                <div class="title">
                                    分数
                                </div>
                                <div class="body edit">
                                    <div class="onedit">
                                        <input id="question-input-ques-answer-score" />
                                    </div>
                                </div>
                                <div id="answer-block"></div>


                            </article>
                            <div class="cmd_link button" cmd="send-ques-answer-question-button">提交</div>


                        </section>
                    </div>

                    <script src="js/lib/jquery-1.11.0.min.js"></script>
                    <script src="js/lib/jquery.form.js"></script>
                    <script src="js/server/major.js"></script>
                    <script src="js/server/project.js"></script>
                    <script src="js/server/score.js"></script>
                    <script src="js/server/user.js"></script>
                    <script src="js/server/snap.js"></script>
                    <script src="js/server/correct.js"></script>
                    <script src="js/server/question.js"></script>
                    <script src="js/server/answer.js"></script>
                    <script src="js/server/studentAnswer.js"></script>
                    <script src="js/server/paper.js"></script>
                    <script src="js/plugin/plugins.js"></script>
                    <script src="js/plugin/plugin.js"></script>
                    <script src="theme/theme_hope/theme_hope.js"></script>
                    <script src="js/plugin/panel.js"></script>
                    <script src ="js/initpage.js"></script>
                    <script src="js/utils.js"></script>
                    <script src="js/index.js"></script>
                    <script src="js/morris/raphael.js"></script>
                    <script src ="js/morris/morris.min.js"></script>
</body>

</html>
