<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/plugin.css">
        <link rel="stylesheet" href="theme/theme_hope/theme_hope.css">
        <link rel="stylesheet" href="css/login.css">
        <script src="js/lib/modernizr-2.7.1.min.js"></script>
    </head>
    <body id="login-body">
        <section id="login-top">
            <article id="logo">
                <img src="img/logo_small.png" />
            </article>
        </section>
        <section id="login-body">
            <div id="login-frame" action="index.html">
                <div class="line">
                    <div class="tip">
                        用户名密码错误
                    </div>
                </div>
                <div class="line">
                    <input id="username-input" placeholder="用户名"/>
                </div>
                <div class="line">
                    <input id = "password-input" placeholder="密码" type="password"/>
                </div>
                <div class="line">
                    <div class="button" id="login-button">
                        登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
                    </div>
                </div>
            </div>
        </section>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="js/server/user.js"></script>
		<script src="js/lib/jquery-1.11.0.min.js"></script> 
        <script src="js/plugin/plugin.js"></script>
        <script src="js/plugin/plugins.js"></script>
        <script src="theme/theme_hope/theme_hope.js"></script>
        <script src="js/server/login.js"></script>
    </body>
</html>
