<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="static/css/eelab_theme.css"/>
<link rel="stylesheet" href="static/css/eelab.css"/>
<link rel="stylesheet" href="static/morris/morris.css"/>
</head>
<body>
<div class="header">
    <div class="header-top">
    <ul  class="nav-top">
        <li>
        <a> 设备查询</a>
        </li>
        <li>
        <a> 教学反馈</a>
        </li>
    </ul>
    <div class="search">
    <p>登陆</p>
    <input/>
    <input/>
    </div>
    </div>
    <div class="header-content">

        <div>
            <img src = "static/img/qdu_logo.png" id="qdu-logo"/>
        </div>
        <div class = "nav">
            <ul class = "nav-list" >
                <li class="dropdown">
                <a class="dropdown-button">关于中心 <span class = "icon">&#9662</span></a>
                <ul class="drop-menu" id = "about-center">
               </ul>
                </li>
                <li class="dropdown">
                <a class = "dropdown-button">
                    在线实验 <span class = "icon">&#9662</span>
                </a>

                <ul class="drop-menu" id = "exp-online">
                </ul>

                </li>
                <li class="dropdown">
                <a>
                    设备借阅 <span class = "icon">&#9662</span>
                </a>
                <ul class="drop-menu" id="device-book">
                </ul>
                </li>
                <li class="dropdown">
                <a>
                    创新科技 <span class = "icon">&#9662</span>
                </a>
                <ul class="drop-menu" id = "invol-tect">
                                </ul>
                </li>
            </ul>
            <ul class = "nav-menu">
                <li>
                网络课堂
                </li>
                <li>
                工程训练
                </li>
                <li>
                教学管理
                </li>
                <li>
                教学交流
                </li>
                <li class="last">
                习题系统
                </li>
            </ul>
        </div>
    </div>
</div> 
<div class="main-content" style="background:url('static/img/total_bk.png');background-size:cover;background-position:center">

<div class = "sub-page-content">
    <div class="title">
        <a> 教学管理</a>
    </div>
    <div class = "content">
        <div class="left">
            <ul>
                </ul>
        </div>
        <div class="right">
            <div class="title">
                <h4></h4>
            </div>
            <hr/>
            <div class="content">
            </div>
        </div>
    </div>
</div>
</div>

<script src="static/js/lib/jquery-1.11.0.min.js"></script>
<script src="static/js/plugin/plugins.js"></script>
<script src="static/js/eelab_utils.js"></script>
<script src="static/js/eelab_theme.js"></script>
<script src="static/js/eelab.js"></script>
<script src="static/js/teache-manage.js"></script>
<script src="static/morris/raphael.js"></script>
<script src="static/morris/morris.min.js"></script>

</body>
</html>


